@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <p>This is our new Software Store Management System. For more information please <a href="https://localhost:44366/Identity/Account/Login">log in</a>.</p>
</div>
